@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

h1, h2 {
  text-decoration: underline;
  text-decoration-thickness: 1mm;
}

.position {
  height: 100vh;
  width: 100wh;

  display: grid;
  place-items: center;
}

.card {
  margin: 1em;
  padding: 1em;
  border-radius: 1cm;
  background-color: #222222;
  color: white;
  text-align: center;
  overflow: hidden;

  .logo {
    padding: 10px;
    height: 5cm;
    border-radius: 50%;
    border: solid white 1mm;
  }

  .images {
    img {
      width: 15mm;
      margin: 2mm;
      filter: invert(100%);      
    }
  }
}

.block {
  width: 20em;
  border-radius: 1cm;
  background-color: white;
  margin: 5mm;
  padding-bottom: 1cm;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  img {
    border-radius: 1cm 1cm 0 0;
    width: 20em;
  }
}

.projects {
  text-align: center;
}

body {
  font-family: "Nunito", cursive;
}